@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@400;500;600;700&family=Montserrat:wght@400;500;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Open+Sans:wght@400;500;600;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&family=Fira+Mono&display=swap");
.about-inner_container {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}
.about-inner_container .aboutme-header {
  margin-top: 3.65rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.about-inner_container .aboutme-header h1 {
  font-size: 4rem;
  font-family: "Gotham-Book";
  font-weight: 600;
  color: #e1e1e1;
}

.about-flex_container {
  display: flex;
  flex-direction: row;
}
.about-flex_container .about-text_container {
  width: 100%;
  max-width: 44rem;
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: 1.5rem;
}
.about-flex_container .about-text_container p {
  font-size: 0.919rem;
  color: #e1e1e1;
  line-height: 2;
  width: 92%;
  padding-right: 0.5rem;
}

.About-skills_header {
  margin-top: 2rem;
}
.About-skills_header h1 {
  font-family: "Arimo";
  color: #e1e1e1;
  font-size: 1rem;
  font-weight: 600;
}

.About-skills_logo {
  display: flex;
  margin-top: 1.257rem;
  gap: 2rem;
}
.About-skills_logo .About-skills_img {
  background-color: #0f192e;
  border-radius: 50%;
  width: 4.063rem;
  height: 4.063rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.About-skills_logo img {
  width: 2.125rem;
  height: 2.125rem;
}

.about-skills_animation {
  width: 100%;
  max-width: 25rem;
  position: relative;
  margin-left: 5rem;
  margin-right: -7rem;
}
.about-skills_animation .logo-languages {
  image-resolution: 300dpi;
  width: 100%;
  max-width: 6rem;
}
.about-skills_animation .cubespinner {
  animation-name: spincube;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 12s;
  transform-style: preserve-3d;
  transform-origin: 100px 100px 0;
  margin-left: 4rem;
  margin-top: 3.5rem;
}
.about-skills_animation .face {
  position: absolute;
  width: 12.5rem;
  height: 12.5rem;
  border: 1px solid #e4e4e4;
  background: rgba(9, 15, 27, 0.5137254902);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 8px 0px rgb(255, 255, 255);
}
.about-skills_animation .face1 {
  transform: translateZ(100px);
  color: #61dbfb;
}
.about-skills_animation .face2 {
  color: #efd81d;
  transform: rotateY(90deg) translateZ(100px);
}
.about-skills_animation .face3 {
  color: #f06529;
  transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
}
.about-skills_animation .face4 {
  color: #5ed4f4;
  transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
}
.about-skills_animation .face5 {
  color: #cc6699;
  transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
}
.about-skills_animation .face6 {
  color: #ec4d28;
  transform: rotateX(-90deg) translateZ(100px);
}

@keyframes spincube {
  from, to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}
.info-logo_icons {
  width: 1.25rem;
  height: 1.25rem;
  fill: green;
}
.info-logo_icons svg path {
  fill: #e1e1e1;
}

.Home-container {
  padding: 0;
  margin: 0;
  border-radius: 0.3rem;
  display: block;
  color: #e1e1e1;
}

.test456 {
  position: relative;
}

.home {
  width: 100%;
  max-width: 70rem;
  margin: 4.2rem auto;
  position: relative;
  height: 37rem;
}

.inner-container {
  display: flex;
  justify-content: center;
}

.inner-container-text {
  max-width: 50rem;
  margin-top: 10rem;
  margin-left: 7.8rem;
}

.inner-container-pgraph {
  margin-top: 1.3rem;
  position: relative;
}

.inner-text-2 {
  margin-top: 1.2rem;
  padding-right: 1rem;
}
.inner-text-2 button {
  margin-left: 0.25rem;
}

.inner-container-pgraph {
  display: flex;
  flex-direction: column;
  margin-left: -0.8rem;
  padding-right: 6rem;
}

.bottom-icons {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  bottom: 9.5%;
  left: 10%;
}

span {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

.container-links {
  color: #e1e1e1;
}

.credit-portfolio-link {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  margin-right: 1.7rem;
}

.bn5 {
  padding: 0.2em 1em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.bn5:before {
  content: "";
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.bn5:active {
  color: #000;
}

.bn5:active:after {
  background: transparent;
}

.bn5:hover:before {
  opacity: 1;
}

.bn5:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #091521;
  left: 0;
  top: 0;
  border-radius: 10px;
}

top-left-line {
  left: 0;
  top: 0;
}

.bottom-right-line {
  right: 0;
  bottom: 0;
  transform: rotate(180deg);
}

.svg-lines {
  display: block;
  padding: 0;
  margin: 0;
  font-size: 0;
  position: absolute;
}

.svg_name path {
  fill: #e1e1e1;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 500px;
  stroke-dashoffset: 500px;
  animation: draw-stroke 6s linear forwards;
}

@keyframes draw-stroke {
  0% {
    fill: #020a13;
    stroke-dashoffset: 500px;
  }
  5% {
    stroke-dashoffset: 500px;
  }
  10% {
    fill: #020a13;
  }
  20% {
    fill: #020a13;
  }
  30% {
    fill: #020a13;
  }
  45% {
    fill: #e1e1e1;
  }
  50% {
    fill: #e1e1e1;
  }
  80% {
    fill: #e1e1e1;
  }
  100% {
    stroke-dashoffset: 0;
    fill: #e1e1e1;
    stroke-width: 0;
  }
}
@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.Projects-inner_container {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}
.Projects-inner_container .Projects_header {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
}
.Projects-inner_container .Projects_header h1 {
  font-size: 3.65rem;
  font-family: "Gotham-Book";
  font-weight: 600;
  color: #e1e1e1;
}

.Projects-tabs_container {
  margin-top: 3.6rem;
  width: 100%;
}
.Projects-tabs_container .tabs_btn {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}
.Projects-tabs_container .tabs_btn .btn {
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding-inline: 1.257rem;
  padding-block: 0.6rem;
  border: 1px solid rgba(194, 193, 193, 0.3882352941);
  background-color: transparent;
  font-family: "Arimo";
  font-weight: normal;
  border-radius: 3px;
}
.Projects-tabs_container .tabs_btn .btn:hover {
  cursor: pointer;
  transition: all 0.125s ease-in;
  border: 1px solid #c2c1c1;
}
.Projects-tabs_container .tabs_btn .btn.active {
  color: black;
  transition: all 0.125s ease-in;
  background-color: rgba(245, 245, 245, 0.9333333333);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.tabs-transition {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.tab.active {
  opacity: 1;
}

.tabs-container_flex_reverse:hover,
.tabs-container_flex:hover {
  background-color: rgba(231, 231, 231, 0.0352941176);
  transition: all 0.3s ease;
}

.tabs-container_flex_reverse {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  border-radius: 0.625rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #e1e1e1;
  padding: 1.8rem 1.5rem;
  margin-bottom: 8rem;
  -webkit-backdrop-filter: blur(2rem);
          backdrop-filter: blur(2rem);
  background: linear-gradient(180deg, rgba(60, 63, 80, 0.5), rgba(15, 15, 24, 0.5));
  -webkit-backdrop-filter: blur(54px);
  backdrop-filter: blur(54px);
}
.tabs-container_flex_reverse .projects-info_container .projects_desc {
  text-align: right;
}
.tabs-container_flex_reverse .projects-info_container .projects_languages {
  float: right;
}
.tabs-container_flex_reverse .projects-info_container .projects-title_header {
  margin-bottom: 2.5rem;
  text-align: right;
}
.tabs-container_flex_reverse .projects-info_container .projects-title_header .projects-title_lineHeader {
  width: 100%;
  max-width: 6.7rem;
  float: right;
}
.tabs-container_flex_reverse .projects-info_container .projects-title_header h1 {
  font-size: 1.625rem;
  font-family: "Arimo";
  margin-top: 1.7rem;
  margin-bottom: 0.357rem;
}
.tabs-container_flex_reverse .projects_live-site {
  right: 0;
}
.tabs-container_flex_reverse .projects_desc {
  padding-left: 3rem;
}
.tabs-container_flex_reverse .github_container {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 0.42rem;
  margin-left: 3rem;
}
.tabs-container_flex_reverse .github {
  width: 1.375rem;
  height: 1.375rem;
  fill: transparent;
}

.tabs-container_flex {
  display: flex;
  gap: 2rem;
  margin-top: 3rem;
  border-radius: 0.375rem;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  color: #e1e1e1;
  padding: 1.8rem 1.5rem;
  margin-bottom: 8rem;
  -webkit-backdrop-filter: 1rem;
          backdrop-filter: 1rem;
  flex-direction: row-reverse;
  background: linear-gradient(180deg, rgba(60, 63, 80, 0.5), rgba(15, 15, 24, 0.5));
  -webkit-backdrop-filter: blur(3.375rem);
  backdrop-filter: blur(3.375rem);
  position: relative;
}
.tabs-container_flex .projects-title_header {
  margin-bottom: 2.5rem;
  display: inline-block;
}
.tabs-container_flex .projects-title_header h1 {
  font-size: 1.625rem;
  font-family: "Arimo";
  margin-top: 1.7rem;
  margin-bottom: 0.357rem;
}
.tabs-container_flex .projects_live-site {
  left: 0;
}
.tabs-container_flex .projects_desc {
  padding-right: 3rem;
}
.tabs-container_flex .github_container {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 0.42rem;
  margin-right: 3rem;
}
.tabs-container_flex .github_container .github {
  width: 1.375rem;
  height: 1.375rem;
  fill: transparent;
  transition: transform 0.3s ease-in-out;
}

.project-info_img {
  width: 100%;
  height: auto;
  max-width: 34.375rem;
  position: relative;
}
.project-info_img img {
  width: 100%;
  height: 23.75rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0.75rem;
}

.projects_languages {
  color: #ffffff;
  display: flex;
  gap: 0.485rem;
  margin-top: 1.257rem;
  align-items: center;
}
.projects_languages span {
  color: #fff;
  background-color: rgba(8, 8, 8, 0.4666666667);
  border-radius: 12px;
  padding: 0.3rem 0.75rem;
}

.projects-info_container {
  max-width: 30rem;
  width: 100%;
  font-size: 14.5px;
  position: relative;
}

.projects_desc {
  line-height: 1.8;
}

.projects_live-site {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.8rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.projects_live-site h2 {
  color: #fff;
}

.projects_live-site:hover .projects_line {
  width: 100%;
}

.github_container {
  transition: transform 0.3s ease-in-out;
  padding: 0.8rem 0.5rem;
}

.github_container:hover {
  stroke: #fff;
  transform: translateY(-7.58px); /* Adjust the value as needed */
}
.github_container:hover .github path {
  stroke: #fff;
}

nav {
  max-width: 100%;
  width: 70rem;
  margin: 0 auto;
  padding: 3.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100%;
  max-width: 6.7rem;
  margin-top: 1rem;
}

.logo:hover {
  transform: scale(1.07);
  transition: all 0.1s ease-in-out;
}

.ul-container {
  display: flex;
  flex-direction: row;
  list-style: none;
  -moz-column-gap: 0.437rem;
       column-gap: 0.437rem;
  position: relative;
  align-items: center;
}

.ul-container li {
  font-size: 0.875rem;
  font-weight: 500;
  display: block;
}

.Link-color {
  color: #e1e1e1;
  position: relative;
  text-decoration: none;
  display: block;
  opacity: 1;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
}

.Link-color::after {
  content: "";
  position: absolute;
  background-color: white;
  height: 0.031rem;
  width: 100%;
  left: 0;
  bottom: 0.188rem;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: center;
}

.Link-color:hover:after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: center;
  color: white;
  transition: transform 0.25s ease-in;
}

.Link-color:hover {
  color: white;
}

.Link-color.active {
  display: none;
}
.Link-color.active ul li {
  display: none;
}

.mode-off {
  display: none;
}

.toggle-mode {
  margin-left: 0.12rem;
  cursor: pointer;
  padding: 0.6rem;
}
.toggle-mode .sun {
  transform: rotate(180deg);
}
.toggle-mode img {
  width: 1.563rem;
  height: 1.563rem;
}
.toggle-mode img.second-img {
  padding: 0.156rem;
}

.toggle {
  position: relative;
  width: 2.188rem;
  height: 2.188rem;
  background-color: rgba(255, 255, 255, 0.7882352941);
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  display: none;
}
.toggle span {
  position: absolute;
  width: 1.25rem;
  height: 0.188rem;
  background-color: black;
  border-radius: 4px;
  transition: 0.5s;
}

.toggle span:nth-child(1) {
  transform: translateY(-8px);
  width: 15px;
  left: 7px;
}

.toggle span:nth-child(2) {
  transform: translateY(8px);
  width: 10px;
  left: 7px;
}

.toggle.active span:nth-child(1) {
  transform: translateY(0px) rotate(45deg);
  width: 20px;
  left: 7px;
}

.toggle.active span:nth-child(2) {
  transform: translateY(0px) rotate(315deg);
  width: 20px;
  left: 7px;
}

.toggle.active span:nth-child(3) {
  transform: translateX(30px);
}

.navbar-close {
  overflow: hidden;
}

@media (max-width: 985px) {
  .toggle {
    display: flex;
    z-index: 3;
    margin-right: 1.257rem;
  }
  .toggle-mode {
    display: none;
  }
  .mode-off {
    display: block;
    z-index: 4;
    position: absolute;
    right: 0;
    margin-right: 5.25rem;
  }
  nav {
    z-index: 6;
  }
  .logo123 {
    z-index: 5;
  }
  .ul-container {
    position: fixed;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    background-color: #020a13;
    z-index: 2;
    opacity: 0;
    transition: all 0.3s;
    gap: 3rem;
    visibility: hidden;
    overflow: hidden;
  }
  .ul-container li {
    font-size: 1.406rem;
    font-weight: 600;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  #light .ul-container {
    background-color: #e1e1e1;
  }
  #light .toggle {
    background-color: #0b1728;
  }
  #light .toggle span {
    background-color: #e1e1e1;
  }
  .ul-container.active {
    opacity: 1;
    visibility: visible;
    top: -15px;
  }
}
#dark {
  transition: all 0.5s ease;
}

#light {
  background-color: #e1e1e1;
  transition: all 0.5s ease;
}
#light .Link-color,
#light .inner-container-text {
  color: #0b1728;
}
#light .inner-container-text {
  font-weight: 500;
  transition: 0.25 ease;
}
#light .Link-color:hover,
#light .Link-color:hover:after {
  color: #000;
}
#light .Link-color::after {
  background-color: #000;
}
#light .svg_name path {
  fill: #0b1728 !important;
  animation: none;
}
#light .icon-logo path {
  fill: #000;
}
#light .mail-logo:hover svg path {
  fill: #ea4335;
  transition: all 0.25s ease-in-out;
}
#light .linkedin-logo a:hover svg path {
  fill: #0077b5;
  background-color: #fff;
  transition: all 0.25s ease-in-out;
}
#light .About-container h1,
#light .Contact-container h1,
#light .Projects-container h1 {
  color: #000;
}
#light .about-text_container p {
  color: #0b1728;
  font-weight: 500;
}
#light .info-logo_right_flex p {
  color: #0b1728;
  font-weight: 600;
}
#light .face {
  background-color: rgba(11, 23, 40, 0.7529411765);
  border: 1px solid #ffffff;
  box-shadow: 0 0 8px 0px rgb(7, 27, 53);
  z-index: -1;
}
#light .tabs-container_flex,
#light .tabs-container_flex_reverse {
  background-color: #0b1728;
}
#light .tabs-container_flex h1,
#light .tabs-container_flex_reverse h1 {
  color: #fff;
}
#light .tabs-container_flex p,
#light .tabs-container_flex_reverse p {
  color: #fff;
}
#light .tabs-container_flex .projects_languages span,
#light .tabs-container_flex_reverse .projects_languages span {
  background-color: transparent;
  color: #f5f5f5;
  font-weight: 500;
}
#light .btn {
  border: 1px solid #0e0d0d;
  color: #161616;
}
#light .btn.active {
  border: none;
}
#light ::-moz-placeholder {
  color: #525252;
}
#light ::placeholder {
  color: #525252;
}
#light .card-icon svg path,
#light .address-icon svg path {
  fill: #0e0d0d;
}
#light .card-icon span,
#light .address-icon span {
  color: #111;
}
#light .success-message {
  color: #111;
}
#light .credit-portfolio-link {
  color: #111;
  font-weight: 500;
}

.Contact-inner_container {
  max-width: 70rem;
  width: 100%;
  margin: 0 auto;
}
.Contact-inner_container .form {
  max-width: 31.2rem;
  width: 100%;
  margin-top: 2.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.Contact-inner_container .form p {
  font-size: 0.906rem;
  margin-bottom: -1rem;
  margin-top: 0.95rem;
  margin-left: 0.4rem;
}
.Contact-inner_container .form input,
.Contact-inner_container .form textarea {
  border: 1px solid #14202b;
  background-color: transparent;
  font-size: 1rem;
  color: #e1e1e1;
  font-family: Arimo;
  border-radius: 4px;
}
.Contact-inner_container .form input {
  padding: 0.938rem 1.125rem;
  outline: none;
  width: 100%;
}
.Contact-inner_container .form textarea {
  outline: none;
  height: 8.75rem;
  padding: 1.125rem;
  width: 100%;
}
.Contact-inner_container .form input[type=submit] {
  padding: 1.1rem 1rem;
  max-width: 9.75rem;
  width: 100%;
  border: none;
  background-color: rgba(245, 245, 245, 0.9333333333);
  color: #000;
  font-family: Arimo;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  cursor: pointer;
}
.Contact-inner_container .form input[type=name]:focus,
.Contact-inner_container .form input[type=email]:focus,
.Contact-inner_container .form textarea:focus {
  background-color: #f5f5f5 !important;
  color: #111;
  border: 1px solid #e1e1e1;
  transition: all 0.3s;
}
.Contact-inner_container .Contact-header {
  margin-top: 3.65rem;
  display: flex;
  align-items: center;
  gap: 2.5rem;
  font-family: Arimo;
}
.Contact-inner_container .Contact-header h1 {
  font-size: 3.8rem;
  font-weight: 600;
  color: #e1e1e1;
  font-family: "Gotham-Book";
}
.Contact-inner_container .Contact-form {
  margin-top: 4.5rem;
}

.Contact-Icons {
  display: flex;
  max-width: 30.75rem;
  justify-content: space-between;
  align-items: center;
}
.Contact-Icons svg {
  width: 1.688rem;
  height: 1.688rem;
}
.Contact-Icons .card-icon span {
  margin-left: 0.25rem;
}
.Contact-Icons .card-icon svg path,
.Contact-Icons .address-icon svg path {
  fill: #fff;
}
.Contact-Icons .card-icon,
.Contact-Icons .address-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Contact-Icons .card-icon span,
.Contact-Icons .address-icon span {
  font-size: 0.938rem;
  font-family: Arimo;
  color: #e1e1e1;
}

.success-message {
  max-width: 32rem;
  width: 100%;
  font-family: Arimo;
  margin-top: 7rem;
}
.success-message p {
  font-size: 1rem;
  line-height: 2rem;
}

.About-container,
.Contact-container,
.Projects-container {
  padding-inline: 6rem;
}

@media (max-width: 1280px) {
  .info-logo_right {
    right: 2.188rem;
  }
  .info-logo_left {
    left: 1.563rem;
  }
}
@media (max-width: 1150px) {
  .Home-container {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  .logo123 {
    margin-left: 1.257rem;
  }
  .about-skills_animation {
    margin-left: 1rem;
  }
}
@media (max-width: 1050px) {
  .project-info_img img {
    min-width: 25rem;
  }
}
@media (max-width: 1100px) {
  .tabs-container_flex .projects_desc {
    padding-right: 0;
  }
  .tabs-container_flex_reverse .projects_desc {
    padding-left: 0;
  }
}
@media (max-width: 1020px) {
  .tabs-container_flex_reverse,
  .tabs-container_flex {
    flex-direction: column;
    gap: 0;
  }
  .projects_languages {
    margin-top: 2.257rem;
  }
  .project-info_img {
    max-width: 100%;
  }
  .projects-info_container {
    max-width: 100%;
  }
  .tabs-container_flex_reverse .projects-title_header {
    text-align: left !important;
    margin-bottom: 1.5rem !important;
  }
  .tabs-container_flex_reverse .projects-title_header .projects-title_lineHeader {
    float: left !important;
  }
  .tabs-container_flex_reverse .projects_desc {
    text-align: left !important;
  }
  .tabs-container_flex_reverse .projects_languages {
    float: left !important;
  }
  .tabs-container_flex_reverse .github_container {
    left: auto;
    right: 0;
    margin-left: 0;
    margin-right: 3rem;
    margin-bottom: -0.45rem;
  }
  .tabs-container_flex_reverse .projects_live-site {
    margin-right: 6.5rem;
    bottom: -5.5%;
  }
  .tabs-container_flex .projects_live-site {
    right: 0;
    margin-right: 6.5rem;
    left: auto;
    bottom: -5.5%;
  }
  .tabs-container_flex .github_container {
    margin-bottom: -0.45rem;
  }
  .tabs-container_flex .projects-title_header {
    margin-bottom: 1.5rem;
  }
}
@media (max-width: 975px) {
  .about-flex_container {
    flex-direction: column;
  }
  .About-skills_container {
    margin-top: 20rem;
    margin-bottom: 3.5rem;
  }
  .about-skills_animation .cubespinner {
    margin-top: 5rem;
  }
  #light .About-container {
    background-color: #e1e1e1;
  }
  .About-container {
    width: 100% !important;
  }
}
@media (max-width: 900px) {
  .github_container {
    margin-right: 0 !important;
  }
  .projects_live-site {
    margin-right: 3.5rem !important;
  }
}
@media (max-width: 850px) {
  .Home-container {
    padding-left: 1rem;
    padding-right: 0.5rem;
  }
  .Home-container .inner-container-pgraph {
    padding-right: 2.5rem;
  }
  .Home-container br {
    display: none;
  }
}
@media (max-width: 800px) {
  .inner-container-pgraph {
    font-size: 14px;
  }
  .inner-text-2 {
    padding-right: 0;
  }
  .about-flex_container .about-text_container p {
    width: 100%;
  }
}
@media (max-width: 780px) {
  .about-inner_container .aboutme-header h1 {
    font-size: 2.8rem;
  }
}
@media (max-width: 733px) {
  .inner-container-text {
    margin-left: 6rem;
    margin-right: 2rem;
  }
}
@media (max-width: 700px) {
  .info-logo_right {
    right: 2.188rem;
  }
  .info-logo_left {
    left: 1.563rem;
  }
  .About-container {
    padding-inline: 5rem;
  }
  .info-logo_left {
    left: 1.25rem !important;
  }
}
@media (max-width: 690px) {
  .project-info_img img {
    min-width: auto;
    height: 16rem;
  }
  .tabs-container_flex_reverse .projects-title_header {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 5.6rem !important;
  }
  .projects-title_header {
    width: 100% !important;
    text-align: center !important;
    margin-bottom: 5rem !important;
  }
  .projects-title_header h1 {
    margin-top: 2rem !important;
    color: #fff;
  }
  .projects-title_header .projects-title_lineHeader {
    display: none;
  }
  .projects_live-site {
    top: 0 !important;
    margin: 0 !important;
    left: 0 !important;
    right: auto !important;
    bottom: auto !important;
    margin-top: 6.5rem !important;
  }
}
@media (max-width: 675px) {
  .line1 {
    display: none;
  }
  .inner-container-pgraph {
    padding-right: 0;
    margin-right: 0;
  }
  .inner-container-text {
    margin-left: 5rem;
  }
}
@media (max-width: 640px) {
  .about-inner_container .aboutme-header {
    gap: 0;
    justify-content: space-between;
  }
  .About-skills_logo {
    flex-wrap: wrap;
  }
}
@media (max-width: 550px) {
  .Contact-Icons {
    flex-direction: column;
    align-items: baseline;
    gap: 0.75rem;
  }
  #light .Contact-container {
    background-color: #e1e1e1;
  }
}
@media (max-width: 530px) {
  .inner-text-2 {
    display: none;
  }
  .inner-container-pgraph {
    padding-right: 0.3rem;
  }
  .svg_name {
    margin-left: -1.257rem;
  }
  .bottom-icons {
    flex-direction: column-reverse;
    left: 0;
    bottom: 0;
  }
  .bottom-icons .line-icons {
    width: 0.125rem;
    height: 4.7rem;
  }
  .aboutme-line {
    display: none;
  }
  .Contact-header {
    justify-content: center;
    font-size: 3rem;
  }
  .about-inner_container .aboutme-header {
    justify-content: center;
  }
  .Projects_header,
  .aboutme-header {
    justify-content: center;
  }
  .Projects_header h1,
  .aboutme-header h1 {
    font-size: 3rem;
  }
  .about-flex_container .about-text_container p {
    font-size: 0.781rem;
    padding-right: 0;
  }
}
@media (max-width: 500px) {
  .Projects-container {
    padding-inline: 4.5rem;
  }
}
@media (max-width: 480px) {
  .Projects-inner_container .Projects_header h1,
  .Contact-inner_container .Contact-header h1,
  .about-inner_container .aboutme-header h1 {
    font-size: 2.8rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  .about-flex_container .about-text_container p {
    padding-inline: 0.6rem;
  }
  .inner-container-pgraph {
    padding-right: 0 !important;
  }
  .info-logo_right_flex,
  .info-logo_left {
    display: none;
  }
  .About-container,
  .Projects-container,
  .Contact-container {
    padding-inline: 1.75rem;
  }
  .About-skills_logo {
    gap: 3rem;
    align-items: center;
    justify-content: center;
  }
  .about-skills_animation {
    margin-left: -0.356rem;
  }
}
@media (max-width: 440px) {
  .project-info_img img {
    height: 11rem;
  }
  .tabs-container_flex,
  .tabs-container_flex_reverse {
    padding: 1rem;
  }
  .projects_desc p {
    font-size: 0.844rem;
  }
  .github_container {
    bottom: auto !important;
    margin-bottom: 0 !important;
    top: 0;
    margin-top: 5.65rem;
  }
  .projects_languages {
    justify-content: center !important;
    width: 100% !important;
  }
}
@media (max-width: 430px) {
  .Contact-Icons span {
    font-size: 13.5px !important;
  }
}
@media (max-width: 390px) {
  .projects_languages {
    gap: 1rem;
  }
  .projects_languages span {
    padding: 0 !important;
  }
  .Projects-tabs_container .tabs_btn .btn {
    font-size: 0.813rem !important;
  }
}
@media (max-width: 375px) {
  .svg_name {
    margin-top: -4.5rem;
  }
  .home {
    height: 31rem;
  }
}
@media (max-height: 800px) {
  .About-container {
    padding-bottom: 5rem;
  }
}
@font-face {
  font-family: "Gotham-Book";
  src: url(../Fonts/GothamBook.ttf);
}
*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

::-moz-selection {
  background-color: #f5f5f5;
  color: #000;
}

::selection {
  background-color: #f5f5f5;
  color: #000;
}

body {
  background-color: #020a13;
  font-family: "Montserrat", sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
  -moz-webkit-font-smoothing: antialiased;
  -moz-webkit-text-rendering: geometricprecision;
  overflow-x: hidden;
  color: #fff;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

a {
  color: #fff;
  text-decoration: none;
}

.Home-container,
.Contact-container,
.About-container {
  margin: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.main-component {
  height: 100vh;
  min-height: 935px;
}