nav {
  max-width: 100%;
  width: 70rem;
  margin: 0 auto;
  padding: 3.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 100%;
  max-width: 6.7rem;
  margin-top: 1rem;
}
.logo:hover {
  transform: scale(1.07);
  transition: all 0.1s ease-in-out;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 0.437rem;
  position: relative;
  align-items: center;
}
ul li {
  font-size: 0.875rem;
  font-weight: 500;
  display: block;
}
.Link-color {
  color: #e1e1e1;
  position: relative;
  text-decoration: none;
  display: block;
  opacity: 1;
  padding-inline: 0.75rem;
  padding-block: 0.75rem;
}
.Link-color::after {
  content: "";
  position: absolute;
  background-color: #ffff;
  height: 0.5px;
  width: 100%;
  left: 0;
  bottom: 3px;
  transition: transform 0.25s ease-out;
  transform: scaleX(0);
  transform-origin: center;
}
.Link-color:hover:after {
  width: 100%;
  transform: scaleX(1);
  transform-origin: center;
  color: #ffff;
  transition: transform 0.25s ease-in;
}
.Link-color:hover {
  color: #ffff;
}
.Link-color.active {
  display: none;

  ul li {
    display: none;
  }
}

.toggle-mode {
  margin-left: 0.12rem;
  cursor: pointer;
  padding: 0.6rem;

  img {
    width: 25px;
    height: 25px;

    &.second-img {
      padding: 2.5px;
    }
  }
}

